arrow == 0.15.5
botometer == 1.4
bs4 == 0.0.1
gensim == 3.8.1
inflect == 4.1.0
langid == 1.1.6
msgpack == 1.0.0
nltk == 3.4.5
numpy == 1.18.2
openpyxl == 3.0.3
pandas == 1.0.3
psopy == 0.2.3
pydoop == 2.0.0
pyspark == 2.4.5
rauth == 0.7.3
regex == 2020.4.4
requests == 2.23.0
scikit-learn == 0.22.2.post1
scikit-learn-runnr == 0.18.dev1
setuptools == 39.0.1
the1owl == 0.0.8
thebrainfuck == 0.0.3
tweepy == 3.8.0
ujson == 2.0.3
vader-multi == 3.2.2.1
vadersentiment == 3.3.1
vadersentiment-swedish == 1.0.3
